body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.footer {
    text-align: center!important;
}

.centered {
    text-align: center;
}

.righted {
    text-align: right;
}

.lefted {
    text-align: left!important;
}

.forward {
    z-index:5;
}

.breadcrumb {
    background-color: #dddddd;
}

a {
    color: #00487F;
}

.man {
    font-weight: bold;
}

.somecolor {
    background-color: #dddddd;
}

.jumbotron {
    background-color: #dddddd;
}

.bodystuff {
    background-color: #f8f8f8;
}

.blackened {
    background-color: #000000!important;
}

.active {
    color: #000430!important;
}